/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.liste:hover {
	background-color: #F55B59;
	color: white;
}

h1 {
	color: black;
	padding-top: 10%;
}

#all {
	background-image: radial-gradient(circle at center, white, #7A7A7A);
    height: 100vh;
}

.body {
	width: 80%;
	border-radius: 10px;
	background-color: white;
}

#content img {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20%;
    width: auto;
}
